<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wolf.mapper.UserMapper">
  <resultMap id="resultUserMap" type="account" >
      <id property="id" column="ID"/>
      <result property="userCode" column="USER_CODE"/>
      <result property="userName" column="USER_NAME"/>
      <result property="password" column="PASSWORD"/>
       <association property="role" column="USER_CODE" select="getRole"/>
  </resultMap>

    <resultMap id="roleMap" type="role">
         <id property="id" column="ID"/>
         <result property="code" column="ROLE_CODE"/>
         <collection property="authList" column="ROLE_CODE" ofType="auth" select="queryAuthsByUserId"/>
    </resultMap>
    <resultMap id="resultAuthMap" type="auth">
       <id property="id" column="ID"/>
       <result property="code" column="CODE"/>
       <result property="name" column="NAME"/>
       <result property="desc" column="DESC"/>
    </resultMap>
    
<select id="getUser" resultMap="resultUserMap">
    select * from  account where id = #{id}
</select>

<select id="getUserByUserName" resultMap="resultUserMap">
    SELECT * FROM  ACCOUNT WHERE USER_NAME = #{userName}
</select>

<select id="queryAuthsByUserId" parameterType="string" resultMap="resultAuthMap">
    SELECT a.* FROM T_TBL_AUTH a
    LEFT JOIN  T_TBL_ROLE_AUTH ra
    ON  a.CODE = ra.AUTH_CODE
    WHERE ra.ROLE_CODE=#{code}
</select>

  <select id="getRole" parameterType="String"  resultMap="roleMap">
       SELECT ur.ROLE_CODE  FROM T_TBL_USER_ROLE ur  WHERE ur.USER_CODE = #{userCode}
  </select>
    
</mapper>